@model BlogPostCMS.Models.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity;
@using BlogPostCMS.Models;

@inject SignInManager<ApplicationUser> SignInManager


<form method="post">

    <div asp-validation-summary="All"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <button type="submit">LOGIN</button>
</form>

@{
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

    if (loginProviders.Count > 0)
    {
        <h1> LOGIN PROVIDERS!!!</h1>

        <form asp-action="ExternalLogin" method="post">
            @foreach (var provider in loginProviders)
            {
                <button type="submit" name="provider" value="@provider.Name" title="Log in using @provider.DisplayName"> @provider.Name</button>
            }
        </form>

    }
}

