@model MVCDemo.Models.Student


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Results Page</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
    <body>
        <h1>WELCOME @Model.FirstName @Model.LastName</h1>

        
    </body>
</html>